.post {
	display: flex;
	margin: 16px;
	height: calc((100vh - 3.5rem) / 2.3);
	width: calc((100vh - 3.5rem) / 2.3);
	border-radius: 16px;
	transition: 300ms;
	background-color: #000000;
	box-shadow: 7px 5px 10px #121212;
}

.post * {
	width: 100%;
}

.post-view {
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	padding: 16px;
	height: auto;
	box-sizing: border-box;
}

.post-view a {
	height: auto;
	text-wrap: wrap;
	word-wrap: break-word;
}

.post-view p {
	height: auto;
}

.post-view .date p {
	color: #848484;
	width: auto;
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

.post-view .date {
	display: flex;
	height: auto;
	justify-content: space-between;
	margin-bottom: 16px;
}

.post:hover {
	box-shadow: 12px 10px 15px #0f0f0f;
}

.post-view button {
	height: 3.5rem;
}

.post-view .url-input {
	display: flex;
	height: 3.5rem;
}

.post-view #title {
	margin-bottom: 16px;	
}

.post-view .add-input {
	display: flex;
	flex-direction: column;
	height: auto;
	gap: 1px;
	overflow: hidden;
	border-radius: 8px;
}

.post-content {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

#heading {
	margin-bottom: 10px;
}

.add-form .message {
	display: flex;
	flex-direction: column;
	height: auto;
	gap: 4px;
	text-align: center;
}

.message {
	margin-top: 10px;
}

.add-form .message button {
	border-radius: 10px;
}