.dropdown {
	position: fixed;
	display: flex;
	flex-direction: column;
	margin-top: 3.5rem;
	background-color: #0a0a0a;
	gap: 6px;
	width: 100%;
	height: 100%;
}

.dropdown .menu-item {
	width: 100%;
	height: 3.5rem;
	background-color: #151718;
}

.menu-item * {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}